.partners{
    overflow:hidden;
    margin-left: 0px;
    margin-right:0px;
    flex-direction: column;
    flex-wrap: wrap;
    height:173vh !important;
    /* width:98vw; */
}

.package-container{
    overflow:hidden;
    margin-left: 0px;
    margin-right:0px;
    flex-direction: column;
    flex-wrap: wrap;
    height:171%;
}
#location{
    overflow:hidden;
    margin-left: 0px;
    margin-right:0px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 173vh !important;
}
.images {
    width:200px;
    flex-wrap: wrap;
    align-self: center;
    margin-top: -4px;
}
body{
    margin:0px;
    padding:0px;
}
h1{
    font-size: 1.8rem !important;
    text-align: center;
    margin-top: 126px;
}
h2 {
    font-size: 1.5rem ;
    color: black;
    margin-top: 10px;

}
.navigation{
    display:column;
    padding:5px;
    margin:2px;
}
header::before{
    height: 838px;
    width: 103%;
    
}
.sec p{
    text-align: left;
}

.sec1 {
        display: flex;
    flex-direction: column;
        align-items: center;
    height: 350px;
    
    margin: -17px;
}

.item {
    padding: 5px 18px;
    font-size: 19px;
    margin: 16px;
}
.info{
    width: 302px;
    height: 374px;
    margin-left: 42px;
    background: linear-gradient(120deg, #00ffffcf, pink);
    text-align: center;
    order: 2;
    /* color: black; */
    border-radius: 12%;
    border: 2px groove #ffc0cb57;
    margin-top: 43px;
    box-shadow: 8px 9px 18px 12px #698cca;
}
.footer{
    overflow: hidden;
}
 #location::before 
 {
    height: 188%;
    width: 208%;
} 
.map{
    margin-left: -1px;
}

.box12 img{
    width:340px;
    border-radius: 5%;
    box-shadow: 3px 8px 16px 5px white;
}

.box12 img{
    width:340px;
    border-radius: 5%;
    box-shadow: 3px 8px 16px 5px white;
}

footer p{
    margin-top:153px;
}
